<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Smart Asset Tracking </title>

    <link rel="stylesheet"

      href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <link rel="stylesheet" href={% static 'FAM/main.css' %}>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>

  <body>

    <!-- Start Top Bar -->

    <div class="top-bar">

      <div class="top-bar-left">

        <h1 style="align:center;"><img src={% static 'FAM/Logo.png' %} height="74px" width="74px"> </li>

      </div>

      <div class = "top-bar-right">

        <div class = "menu">
          <ul>

            <li><a>Investments</a></li>
            <li> <a>Trending</a> </li>
            <li><a>Browse</a> </li>
            <li> <a>About Us</a></li>
            <li> <a>Support</a> </li>
            <li><a> <img src={% static 'FAM/glass.png' %} height="30px" width="30px"></a></li>
            <li> <a><img src={% static 'FAM/user.png' %} height="30px" width="30px"></a>
              <div class= "dropdown-content">
                <a href= {% url 'login' %} > Login </a>
                <a href= {% url 'signup' %} > Sign Up </a>
             </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
